html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

:root {
    --sentencing-border: 1px solid black;
    --sbbl-green: rgb(166, 210, 131);
    --table-even-rows: rgba(200, 200, 200, 0.3);
    --quantity-wrapper-length: 13rem;
    --input-height: 1.7rem;
    --drug-inputs-half-collapse: 1000px;
    --drug-inputs-full-collapse: 500px;
}

body {
    background-color: white;
    color: #2c292b;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.3rem 0.5rem;
    font-size: 13px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="number"],
select {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
}

/* select {
    background-image: url("assets/select_arrows.png");
    background-repeat: no-repeat;
    background-size: 10% 50%;
    background-position: 90% 50%;
}*/

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

select {
    background-color: #ffffff;
    overflow: hidden;
}

.tab {
    margin-left: 20px;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}
.half_tab {
    margin-left: 15px;
    /*margin-top: 7px;
    margin-bottom: 7px;*/
}

.title {
    text-align: center;
}
div.half_page {
    width: 55%;
}

button.svelte-twt574{border:none;background-color:transparent}@keyframes svelte-twt574-button-fade-white{from{background-color:rgba(100, 100, 100, 0.4)}to{background-color:white}}@media(hover: hover){button.animate.svelte-twt574{animation-name:svelte-twt574-button-fade-white;animation-duration:0.2s}button.animate.svelte-twt574:hover{animation-name:svelte-twt574-button-fade-gray;animation-duration:0.3s;background-color:rgba(100, 100, 100, 0.4)}button.animate.svelte-twt574:active{background-color:rgba(100, 100, 100, 0.7) !important}}@keyframes svelte-twt574-button-fade-gray{from{background-color:white}to{background-color:rgba(100, 100, 100, 0.4)}}button.animate.svelte-twt574:active{background-color:rgba(100, 100, 100, 0.4)}
table#sentencing_table.svelte-1iry0t1.svelte-1iry0t1{width:80%;border-collapse:collapse;border-right:var(--sentencing-border);border-bottom:var(--sentencing-border);margin-top:20px;margin-left:auto;margin-right:auto;position:relative}tr.sentencing.svelte-1iry0t1.svelte-1iry0t1,th.sentencing.svelte-1iry0t1.svelte-1iry0t1,td.sentencing.svelte-1iry0t1.svelte-1iry0t1{text-align:center}tr.sentencing.svelte-1iry0t1.svelte-1iry0t1:nth-of-type(even){background-color:var(--table-even-rows)}#offense_level_header.svelte-1iry0t1.svelte-1iry0t1{padding-left:10px;padding-right:10px}#crim_history_pt_header.svelte-1iry0t1.svelte-1iry0t1{padding-top:7px;padding-bottom:7px;background-color:white !important}#sentencing_headers.svelte-1iry0t1>th.svelte-1iry0t1{border-top:var(--sentencing-border)}#zones.svelte-1iry0t1.svelte-1iry0t1{background-color:white;border-right:var(--sentencing-border);border-bottom:var(--sentencing-border)}.header_row.svelte-1iry0t1.svelte-1iry0t1{border:var(--sentencing-border)}.months_range.svelte-1iry0t1.svelte-1iry0t1{width:15.5%;font-family:Arial, Helvetica, sans-serif;font-size:13px}.zone_name.svelte-1iry0t1.svelte-1iry0t1{background-color:white;border-top:var(--sentencing-border);border-bottom:var(--sentencing-border);border-right:var(--sentencing-border);padding-right:10px}.dont_show.svelte-1iry0t1.svelte-1iry0t1{border:none}.spacer.svelte-1iry0t1.svelte-1iry0t1{width:20px}.spacer.svelte-1iry0t1.svelte-1iry0t1::before{content:"";display:block;width:20px}span.crim_points_range.svelte-1iry0t1.svelte-1iry0t1{font-family:Arial, Helvetica, sans-serif;font-size:13px}.highlighted.svelte-1iry0t1.svelte-1iry0t1{background-color:#bbbbbb !important}
#results_advanced_title.svelte-1dsfdc3.svelte-1dsfdc3{color:#000000;border-bottom:2px solid var(--sbbl-green);text-decoration:none}#results_advanced.svelte-1dsfdc3.svelte-1dsfdc3{width:100%;--table-border-color:#dddddd}th.svelte-1dsfdc3.svelte-1dsfdc3{font-size:1.25rem;padding:1rem}tr#main_source.svelte-1dsfdc3.svelte-1dsfdc3{font-size:1rem;background-color:var(--table-even-rows)}tr.svelte-1dsfdc3>td.svelte-1dsfdc3{padding:0.5rem}tr.svelte-1dsfdc3>td.svelte-1dsfdc3:nth-child(1){text-align:left}tr.svelte-1dsfdc3>td.svelte-1dsfdc3:nth-child(2){text-align:right}table#modifiers.svelte-1dsfdc3.svelte-1dsfdc3{border:1px solid var(--table-border-color);width:65%;margin-left:auto;margin-right:auto;border-collapse:collapse}td.svelte-1dsfdc3.svelte-1dsfdc3,th.svelte-1dsfdc3.svelte-1dsfdc3{border:1px solid  var(--table-border-color)}
td {
    vertical-align: middle;
}
div.quantity_wrapper {
    border: 0.09rem solid var(--sbbl-green) !important;
    border-radius: 3px;
    width: var(--quantity-wrapper-length);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: var(--input-height);
    box-sizing: border-box;
}
input.quantity {
    vertical-align: middle;
    border-radius: 1px;
    font-size: 13px;
    width: calc(75% - 0.5rem);
    text-align: left;
    position: relative;
    border: 0px solid transparent;
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
    padding: 0px;
    padding-left: 0.5rem;
    float: left;
    height: 100%;
}

div.share_column {
    display: contents;
}

div.share_column > *:nth-child(2) {
    vertical-align: middle;
}

@media (max-width: 1000px) {
    div.share_column {
        display: block;
        --quantity-wrapper-length: 10rem;
        width: max-content;
    }

    div.share_column > * {
        display: inline-block;
        margin-right: auto !important;
    }

    div.share_column > *:nth-child(2) {
        vertical-align: middle;
    }
}

label.svelte-6pd1l0{width:max-content}select.drug_select.svelte-6pd1l0{border:0.09em solid var(--sbbl-green);width:var(--quantity-wrapper-length);padding-left:0.3rem;height:var(--input-height);box-sizing:border-box}
select.unit.svelte-1p43h81{vertical-align:middle;float:right;position:relative;display:run-in;border:0px solid transparent;-webkit-tap-highlight-color:transparent;outline:none !important;width:calc(25% - 0.3rem);padding:0px;padding-left:0.3rem;height:100%}
.drug_select.svelte-5amzmm{width:fit-content}@media(max-width: 1000px){.drug_select.svelte-5amzmm{grid-column:span 2}.quantity_wrapper.svelte-5amzmm{grid-column:span 2}}@media(max-width: 500px){.drug_select.svelte-5amzmm{grid-column:span 1}.quantity_wrapper.svelte-5amzmm{grid-column:span 1}}
.slot.svelte-1qjak1z{text-align:left;padding-right:2em}input.svelte-1qjak1z{border:0.09rem solid var(--sbbl-green) !important;border-radius:3px;vertical-align:middle;font-size:13px;margin:0.5px;height:var(--input-height);width:13rem;position:relative;-webkit-tap-highlight-color:transparent;outline:none !important;margin-right:auto;grid-column-start:2;box-sizing:border-box}.slot.svelte-1qjak1z{grid-column-start:1}@media(min-width: 1000px){input.svelte-1qjak1z{grid-column-end:6}}@media(max-width: 1000px){input.svelte-1qjak1z{grid-column-end:3}}@media(max-width: 500px){input.svelte-1qjak1z{grid-column-end:1}}
select.svelte-18b3vyr{border:0.09em solid var(--sbbl-green);width:var(--quantity-wrapper-length);height:var(--input-height);box-sizing:border-box}
@media(min-width: 1000px){div#input_table.svelte-k2i2sx.svelte-k2i2sx{display:grid;grid-column-gap:5px;grid-row-gap:1rem;grid-template-columns:repeat(5, max-content);grid-auto-flow:dense}div.mixture_button.svelte-k2i2sx.svelte-k2i2sx{grid-column:3 / 6}div.drug_button.svelte-k2i2sx.svelte-k2i2sx{grid-column:5}}@media(max-width: 1000px){div#input_table.svelte-k2i2sx.svelte-k2i2sx{display:grid;grid-column-gap:5px;grid-row-gap:1rem;grid-template-columns:repeat(3, 1fr)}div.drug_button.svelte-k2i2sx.svelte-k2i2sx{grid-column:2}div.mixture_button.svelte-k2i2sx.svelte-k2i2sx{grid-column:2}.input_div_heading.drug_heading.svelte-k2i2sx.svelte-k2i2sx{grid-row:span 3;grid-column:1}.input_div_heading.svelte-k2i2sx.svelte-k2i2sx{padding-right:1em}}div.input_div_heading.svelte-k2i2sx>.svelte-k2i2sx:not(div.tab){margin-right:auto}div.input_div_heading.svelte-k2i2sx.svelte-k2i2sx{grid-column:1;text-align:left}@media(max-width: 500px){div#input_table.svelte-k2i2sx.svelte-k2i2sx{grid-template-columns:repeat(1, 1fr)}div.drug_button.svelte-k2i2sx.svelte-k2i2sx,div.mixture_button.svelte-k2i2sx.svelte-k2i2sx,div.share_column.svelte-k2i2sx.svelte-k2i2sx{grid-column:1}.input_div_heading.drug_heading.svelte-k2i2sx.svelte-k2i2sx{grid-row:span 1 !important;grid-column:1}}
.question_boolean {
    color: rgb(119, 119, 119);
    margin-bottom: 40px;
    overflow: visible;
}

.check_container {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    padding-left: 35px;
    vertical-align: top;
    float: right;
}
input.check {
    display: inline-block;
    position: relative;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 0.5px solid rgb(119, 119, 119);
}
.checkmark.animate {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    animation-name: checkmark_fade_white;
    animation-duration: 0.1s;
    border-radius: 5px;
    border: 0.5px solid rgb(119, 119, 119);
}

@keyframes checkmark_fade_white {
    from {
        background-color: rgb(166, 210, 131);
    }
    to {
        background-color: #ffffff;
    }
}
.check_container:hover input ~ .checkmark {
    background-color: #fafafa;
}

input.check:checked ~ .checkmark.animate {
    background-color: rgb(166, 210, 131);
    animation-name: checkmark_fade_green;
    animation-duration: 0.1s;
}

input.check:checked ~ .checkmark {
    background-color: rgb(166, 210, 131);
}

@keyframes checkmark_fade_green {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: rgb(166, 210, 131);
    }
}

.check_container:hover input:checked ~ .checkmark {
    background-color: rgb(130, 180, 100);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input.check:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    left: 8.5px;
    top: 4px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(37deg);
}

.question_boolean {
    width: 100%;
    text-align: left;
}

.boolean_section_title.svelte-xc5v0l{text-align:center;border-bottom:1px solid black;margin-bottom:15px;padding-bottom:6px;font-size:16px}
#adjustments_title.svelte-oe0ffs{color:#000000;border-bottom:2px solid var(--sbbl-green);text-decoration:none}
#results.svelte-vyrmra{z-index:1;padding-bottom:5px;margin-bottom:30px;border-bottom:2px solid rgb(44, 41, 43);top:0;background-color:#ffffff;padding-top:10px;width:100%;--results-middle-margin:7rem}div#results.sticky.svelte-vyrmra{position:sticky}#sentence_wrapper.svelte-vyrmra{position:relative;width:100%;height:fit-content;border-collapse:separate;border-spacing:0 1em}#time_wrapper.svelte-vyrmra,#base_wrapper.svelte-vyrmra{margin-right:var(--results-middle-margin)}#points_wrapper.svelte-vyrmra,#fine_wrapper.svelte-vyrmra{margin-left:var(--results-middle-margin)}tr.svelte-vyrmra{height:2em}td.svelte-vyrmra:nth-child(1){text-align:left}td.svelte-vyrmra:nth-child(2){text-align:right}.width_depend.svelte-vyrmra{display:inline-block;white-space:nowrap}@media(min-width: 500px){.width_depend.svelte-vyrmra{display:inline-block}}
main.svelte-1u5yim3{text-align:center;padding:1em;margin:0 auto}#calculator_title.svelte-1u5yim3{border-bottom:3px solid var(--sbbl-green)}#disclaimer.svelte-1u5yim3{width:100%}#disclaimer_text.svelte-1u5yim3{margin-left:auto;margin-right:auto;text-align:center;padding-left:2rem;padding-right:2rem}
